<section>
  <h1>Blended Learning</h1>

  <small>
    Yevhen Shemet<br />
    github: <a target="_blank" rel="nofollow noopener" href="https://github.com/yevhene/present-learning">yevhene/present-learning</a>
  </small>
</section>

<section>
  <h2>Education changes</h2>

  <section>
    <h3>Lifelong Learning</h3>
  </section>

  <section>
    <h3>Stanford 2025 Open Loop University</h3>

    <img src="images/open_loop_university.jpeg" />
  </section>

  <section>
    <h3>Online Learning</h3>

    <img src="images/harvard.png" />
  </section>

  <section>
    <h3>Online Learning</h3>
    <h4>5%</h4>

    <img src="images/so_small.jpg" />
  </section>

  <section>
    <h3>Blended Learning</h3>

    <h4>50%</h4>
    <img src="images/rainbow.jpg" />
  </section>
</section>

<section>
  <h2>Brainbasket</h2>

  <section>
    <img src="images/brainbasket.png" class="white" />
  </section>

  <section>
    <h3>Map</h3>

    <img src="images/barinbasket-map.png" />
  </section>

  <section>
    <h3>Technology Nation</h3>

    <h4>6000+ graduates</h4>
  </section>
</section>

<section>
  <h2>CS50</h2>

  <section>
    <img src="images/cs50.jpg" />
  </section>

  <section>
    <h3>Map</h3>

    <img src="images/cs50-map.png" />
  </section>

  <section>
    <h3>Pros</h3>

    <ul>
      <li>50+ production team size</li>
      <li>Advanced Placement program</li>
      <li>Open for collaboration</li>
      <li>Available on Prometheus (in Ukrainian)</li>
      <li>Tools (IDE, Autograding)</li>
    </ul>
  </section>

  <section>
    <h3>CS50 PuzzleDay</h3>

    <img src="images/puzzle_day_harvard.jpg" />
  </section>

  <section>
    <h3>Over the World</h3>

    <img src="images/puzzle_day_pakistan.jpeg" />
  </section>

  <section>
    <h3>And here</h3>

    <img src="images/puzzle_day_vntu.jpeg" />
  </section>

  <section>
    <h3>Cons</h3>

    <ul>
      <li>It is Harder then we used to</li>
      <li>English first</li>
    </ul>
  </section>
</section>

<section>
  <h2>References</h2>

  <ul>
    <li><a href="http://www.stanford2025.com/open-loop-university">Open Loop University (Stanford 2025)</a></li>
    <li><a href="https://cs50.harvard.edu/ap">CS50 Advancement Placement</a></li>
    <li><a href="https://cs50.org/map.html">CS50 Map</a></li>
    <li><a href="https://courses.prometheus.org.ua/courses/course-v1:Prometheus+CS50+2019_T1/about">CS50 2019 Prometheus</a></li>
    <li><a href="https://www.edx.org/course/cs50s-introduction-to-computer-science">CS50 EDX</a></li>
  </ul>
</section>

<section>
  <h2>Questions?</h2>
</section>
